<%- include('./partials/head') %>

<%- include('./partials/navigation') %>



<header>
    <h1>Lessons</h1>
</header>

<!-- section 1: fases -->
<ol>
    <li class="phases">
        <a href="#" aria-label="" >Listening</a>
        <img src="../images/music-note.svg" alt="music note">
    </li>
</ol>

<!-- section 2: own playlist -->
<h2>Own playlist</h2>
<section class="playlists">
    <button class="new-playlist">
        <img src="../images/add.svg" alt="plus sign">
            <h3>Make a playlist!</h3>
            <p>Add your favorite stories in one playlist</p>
    </button>
    
    <ul class="playlists-content">
        <% stories.slice(2, 3).forEach(story => { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?format=webp" type="image/webp">
                <img src="https://fdnd-agency.directus.app/assets/<%= story.image %>" alt="playlist image">
            </picture>
            <h3> <%= story.title %> </h3>
            <div class="audio-info">
                <a href="home/playlist">
                    <img src="../images/play-orange.svg" alt="play-button">
                </a>
                <p>31 min. 55 sec</p>
            </div>
        </li>
        <% }) %>
    </ul>
</section>

<!-- section 3: all stories -->
<h2>All stories</h2>
<div class="story-options">
    <div class="languages-container">
        <!--hier mee selecteer ik alleen de eerste 2 languages uit de directus API-->
        <% languages.slice(0, 2).forEach(language => { %>
        <button class="languages">
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= language.flag %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= language.flag %>?format=webp" type="image/webp">
                <img loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= language.flag %>" onerror="this.onerror=null; this.src='../images/checkered-flag.png'" alt="placeholder flag">
            </picture>
            <h3> <%= language.language %> </h3>
        </button>
        <% }) %>
    </div>
    <a href="/lessons/stories">Show all</a>
</div>

<!-- <section class="stories"> -->
    <ul class="stories-content">
        <!-- Totaal items in stories / 3 = een waarde deze naar boven afronden en die waarde meegeven als css variable -->
        <% stories.forEach(story => { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?format=webp" type="image/webp">
                <img loading="lazy" class="story-img" src="https://fdnd-agency.directus.app/assets/<%= story.image %>" onerror="this.onerror=null; this.src='../images/penguin-story.svg'" alt="placeholder story">
            </picture>
            <div class="story-content">
                <div class="story-title">
                    <h3> <%= story.title %> </h3>
                    <img loading="lazy" class="flag-img" src="../images/english.svg" alt="flag">
                </div>
                <p><%= story.summary.slice(0, story.summary.length/2) %>...</p>
                <div class="story-links">
                    <div class="audio-info">
                        <button>
                            <img loading="lazy" src="../images/play-blue.svg" alt="play button">
                        </button>
                        <p>3 min. 5 sec</p>
                    </div>
                    <div class="add-options">
                        <button>
                            <img loading="lazy" src="../images/cloud.svg" alt="download button">
                        </button>
                        <button>
                            <img loading="lazy" src="../images/add-button.svg" alt="add button">
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>

<!-- </section> -->


<!-- section 4: liked playlist -->
<h2>Liked playlist</h2> 
<ul class="playlists-content">
    <% playlists.forEach(playlist => { %>
    <li>
        <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=avif" type="image/avif">
            <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=webp" type="image/webp">
            <img loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" onerror="this.onerror=null; this.src='../images/penguin-story.svg'" alt="placeholder playlist">
        </picture>
        <h3> <%= playlist.title %> </h3>
        <div class="playlist-options"> <!--laatste regel-->
            <div class="audio-info">
                <a>
                    <img loading="lazy" src="../images/play-orange.svg" alt="play-button">
                </a>
                <p>31 min. 55 sec</p>
            </div>
            <button>
                <img loading="lazy" src="../images/heart.svg" alt="heart">
            </button>
        </div>  
    </li>
    <% }) %>
</ul>

<!-- section 5: suggested playlist -->
<%- include('./partials/suggested-playlist') %>



hallo

<%- include('./partials/foot') %>

